
.addBtn {
    top: -20px;
    right: -8px !important;
}
.margin_top {
    margin-top: 100px;
}
.overWriteTitle{
    font-weight: 100!important;
    font-size: 1rem!important;
    text-align: center;
    margin-bottom: 0.75rem !important;
}
.card{
    background: transparent;
    box-shadow: none;
    border-radius: none;
}

.btnAlign{
    margin-right: 10px;
}
.card .card-block{
    padding: 0.5rem 1rem 1rem;
    margin-top: -1em;
}

