<div class="">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-6 search">
        <span ngbDropdown>
          <button #searchBtn class="search-dropdown btn btn-primary btn-flat" id="dropdownBasic2" ngbDropdownToggle>
          {{searchDropSelect.name}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button *ngFor="let drop of drops"  class="dropdown-item" (click)="loadDropBtn(searchBtn,drop)">{{drop.name}}</button>
          </div>
        </span>
        <span class="search-segment">
          <i class="text-muted ft-search search-ico"></i>
          <input type="text" class="search-input " placeholder="Search.." aria-label="Text input with dropdown button" [(ngModel)]="searchString" (input)="onSearch($event)">
          <ul class="error" *ngIf="showErrorMsg">
            <li>{{errorMsg}}</li>
          </ul>
        </span>
      </div> -->
      <div class="col-md-2">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{searchDropSelect.name}}</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1" ngbDropdownMenu>
                <button *ngFor="let drop of drops"  class="dropdown-item" (click)="loadDropBtn(searchBtn,drop)">{{drop.name}}</button>
              </div>
        </div>
      </div>
      <div class="col-md-4">
          <i class="text-muted ft-search search-ico"></i>
          <input class="search-input" matInput autocomplete="off" placeholder="Search" [(ngModel)]="searchString" (keyup.enter)="onSearch($event)" type="text">
          <button mat-raised-button type="submit" (click)="onSearch(($event))" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
        </button>
      </div>
      <div class="col-md-3">
        <div ngbDropdown id='myNewProduct'>
          <button class="btn btn-rose btn-flat" id="dropdownBasic1" ngbDropdownToggle>
            <i class="material-icons">get_app</i> Import
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1 " class="btn-rose">
            <!-- <button class="dropdown-item btn-rose" (click)="createnew()">Selective</button> -->
            <button class="dropdown-item btn-rose" (click)="createSelective()">Selective</button>
            <button class="dropdown-item btn-rose" (click)="createAll()">All</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-raised btn-info"
          (click)="addProductToRecommendation()"> Recommendations</button>
      </div>
    </div>
    <div class="displayRow" *ngIf="deviceOS === 'windows'"
    ngxInfiniteScroller
    strategy="scrollingToBottom"
    (onScrollDown)="nextPage()">
      <div class="row">
         <div class="col-md-3" *ngFor="let shopProd of shopProducts">
          <div class="card " >
            <div class="card-body" (click)='editShopProduct(shopProd.id)'>
              <div class="card-img imageContainer">
                <!-- <img class="img" src="/assets/img/subscript-sample.jpg" />  -->
                <img class="imageCard" *ngIf="!shopProd.picture"  [src]="environmentLocal.DEFAULT_WINE_BOTTLE" [alt]="shopProd.name">
                <img class="imageCard" *ngIf="!!shopProd.picture && !!shopProd.picture.lg"  [src]="shopProd.picture.lg" [alt]="shopProd.name"> 
              </div>
              <div class="cardtitleBlock ">
                <h4 class="card-title block-with-text" >{{ shopProd.name }}</h4>
              </div>
              <p class="category text-gray font-small-1 " style="margin: 0;"> Stock : {{shopProd.stock_availability}}</p>
            </div>
          </div>
        </div>
      </div>
     </div>
     <div *ngIf="deviceOS !== 'windows'"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="300"
    (scrolled)="nextPage()" >
       <div class="row">
          <div class="col-md-3" *ngFor="let shopProd of shopProducts">
           <div class="card " >
             <div class="card-body" (click)='editShopProduct(shopProd.id)'>
               <div class="card-img imageContainer">
                 <!-- <img class="img" src="/assets/img/subscript-sample.jpg" />  -->
                 <img class="imageCard" *ngIf="!shopProd.picture"  [src]="environmentLocal.DEFAULT_WINE_BOTTLE" [alt]="shopProd.name">
                 <img class="imageCard" *ngIf="!!shopProd.picture && !!shopProd.picture.lg"  [src]="shopProd.picture.lg" [alt]="shopProd.name"> 
               </div>
               <div class="cardtitleBlock ">
                 <h4 class="card-title block-with-text" >{{ shopProd.name }}</h4>
               </div>
               <p class="category text-gray font-small-1 " style="margin: 0;"> Stock : {{shopProd.stock_availability}}</p>
             </div>
           </div>
         </div>
       </div>
      </div>
    <div class="mx-3 my-3 text-center" *ngIf="!shopProducts.length && !!searchString">
      <h4>No records found, Please refine your query and try again. </h4>
    </div>
    <div class="mx-3 my-3 text-center" *ngIf="!shopProducts.length && !searchString && !loading">
      <h4>Add Products to Event</h4>
    </div>
  </div>
</div>