.logo{
    color:white;
    // font-size:24px;
    // text-align: center;
    // margin: 20px;
}
.swapIcon {
    right: -12px;
    position: absolute;
}

.profile_img {
    width: 100% !important;
    height: 100% !important;
}