<!--Forgot Password Starts-->
<section id="forgot-password" *ngIf="!emailSuccess">

<div class="wrapper wrapper-full-page">
    <div class="page-header forgot-page header-filter" filter-color="black">
      <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 mx-auto">
            <form novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
              <div class="card forgot card-login card-hidden">
                <div class="card-header card-header-rose text-center">
                  <h4 class="card-title">Forgot Password</h4>
                  <div class="social-line">
                    <img class="fermyntIcon" src="./assets/img/fermynt_logo_trans_white.png">
                  </div>
                </div>
                <div class="card-body ">
                  <span class="bmd-form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="material-icons">email</i>
                        </span>
                      </div>
                      <input required email type="email" class="form-control border-primary" name="email" id="email" placeholder="Your Email Address"  #email="ngModel" [(ngModel)]="forgotModel.email">
                    </div>
                    <small *ngIf="!!f.value.email && email.errors?.email" class="form-text text-danger">Invalid Email</small>
                  </span>
                  <a href="javascript:;" class="pull-right" (click)="onLogin()" style="font-size:12px;text-decoration:underline">Login</a>
                </div>
                <div class="card-footer justify-content-center">
                  <button type="submit" class="btn btn-rose btn-link btn-lg">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</section>
<!--Forgot Password Ends-->

<app-page-loading *ngIf="pageLoading" ></app-page-loading>
<!--Forgot Password Ends-->
<!--Msg Starts-->
<section id="maintenance" *ngIf="emailSuccess">
  <div class="container-fluid">
      <div class="row full-height-vh">
          <div class="col-6 d-flex align-items-center justify-content-center mx-auto my-auto">
              <div class="card border-grey border-lighten-3 px-1 py-1 box-shadow-3">
                  <div class="card-block">
                      <span class="card-title text-center">
                      <img alt="avtar" class="img-fluid mx-auto d-block pt-2 mb-1" src="./assets/img/fermynt_icon_trans.png" width="100">
                  </span>
                  </div>
                  <div class="card-block text-center">
                      <h3>Change Password link has been to your email id. </h3>
                          <p>Please check spam folder incase of email is not received in your Inbox.</p>
                          <p><a style="cursor: pointer" class="btn btn-link btn-primary" (click)="onLogin()">Click here</a> to go back.
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--Msg ends-->
