<section id="login"  *ngIf="!cpwSuccess">
  <div class="container-fluid">
      <div class="row full-height-vh">
        <div class="col-lg-4 col-md-6 col-sm-6 mx-auto">
              <div class="card gradient-indigo-purple text-center width-400">
                  <div class="card-img overlap">
                      <img alt="element 06" class="mb-1" src="./assets/img/subscript-sample.jpg" width="190">
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                          <h2 class="white">Change Password</h2>
                          <form novalidate="" (ngSubmit)="onSubmit(f)" #f="ngForm">
                              <div class="form-group col-md-12 mb-2 text-left">
                                <label for="password">Password</label>
                                <input required type="password" class="form-control border-primary" autocomplete="off" id="password" name="password" placeholder="Password"
                                  [(ngModel)]="cpwModel.password" #password="ngModel"/>
                                  <small *ngIf="f.submitted && confirmpassword.errors" class="form-text text-muted text-danger">Psssword Required</small>
                              </div>

                              <div class="form-group col-md-12 text-left">
                                  <label for="confirmpassword">Confirm Password</label>
                                  <input required type="password" class="form-control border-primary" autocomplete="off"  id="confirmpassword" name="confirmpassword" placeholder="Confirm Password"
                                      [(ngModel)]="cpwModel.confirmpassword" #confirmpassword="ngModel"/>

                                  <small *ngIf="f.submitted && confirmpassword.errors" class="form-text text-muted text-danger">Confirm Psssword Required</small>
                                  <small *ngIf="f.submitted && !confirmpassword.errors &&(f.value.password !== f.value.confirmpassword)"
                                    class="form-text text-muted danger">Password and Confirm Password should be same</small>
                              </div>

                              <div class="form-group">
                                  <div class="col-md-12">
                                      <button type="submit" class="btn btn-rose btn-block btn-raised">Submit</button>
                                      <button type="button" class="btn btn-danger btn-block btn-raised" (click)="onClearValue()">Cancel</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-page-loading *ngIf="pageLoading" ></app-page-loading>
<!--Msg Starts-->
<section id="maintenance" *ngIf="cpwSuccess">
    <div class="container-fluid">
        <div class="row full-height-vh">
            <div class="col-lg-6 col-md-6 col-sm-6 mx-auto">
                <div class="card border-grey border-lighten-3 px-1 py-1 box-shadow-3">
                    <div class="card-block">
                        <span class="card-title text-center">
                        <img alt="avtar" class="img-fluid mx-auto d-block pt-2 mb-1" src="./assets/img/fermynt_icon_trans.png" width="100">
                    </span>
                    </div>
                    <div class="card-block text-center">
                        <h3>Password changed successfully.</h3>
                            <p><a style="cursor: pointer" class="btn btn-link btn-primary" (click)="onLogin()">Click here</a>  to login with new password.<br>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--Msg ends-->
