<div class="main-sub-content">
  <div  class="container-fluid">
    <section>
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title" id="from-actions-bottom-right">{{title}} Location Details</h4>
          </div>
          <div class="card-body">
            <div class="px-3">
              <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div class="form-body">
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="form-group col-md-6">
                          <label for="country">Country</label>
                          <select required [disabled]="isEdit" class="form-control border-primary" id="country" name="country" placeholder="Country" [(ngModel)]="locationModel.country" #country="ngModel">
                          <option *ngFor="let country of countryList" [value]="country.code">{{country.name}}</option>
                          </select>
                          <small *ngIf="f.submitted && !locationModel.country" class="form-text text-danger">Country Required</small>
                         </div>
                      <div class="form-group col-md-6 pullTop">
                        <label for="wine">Code</label>
                        <tag-input [(ngModel)]="codeList" name="codeList"
                          [placeholder]="'Search a new Code'"
                          [onTextChangeDebounce]="500"
                          [secondaryPlaceholder]="'Search Code'"
                          [onlyFromAutocomplete]="true"
                          (onAdd) = "onAddingCode($event)"
                          (onRemove) = "onRemovingCode($event)"
                          [identifyBy]="'_id'"
                          [removable]="!isEdit"
                          [maxItems] = "1"
                          [disable]="!locationModel.country"
                          [displayBy]="'name'">
                          <tag-input-dropdown
                                  [autocompleteObservable]="requestAutocompleteItems"
                                  [minimumTextLength]="3"
                                  [identifyBy]="'_id'"
                                  [displayBy]="'name'">
                              <ng-template let-item="item" let-index="index">
                                   {{item.code}}
                              </ng-template>
                          </tag-input-dropdown>
                      </tag-input>
                      <small *ngIf="f.submitted && !locationModel.code" class="form-text text-danger">Code is Required</small>
                         <!-- <label for="name">Name</label>
                        <input type="text" [disabled]="isEdit"   (change)="getLocationCode($event.target.value)" class="form-control border-primary" id="name" name="name" placeholder="Name" #name="ngModel" [(ngModel)]="locationModel.code"
                        required  />
                        <small *ngIf="f.submitted && name.errors" class="form-text text-muted text-danger">Name Required</small> -->
                      </div>
                    </div>
                    <div class="row  justify-content-center">
                        <div class="form-group col-md-6">
                            <label for="sortOrder">Sort Order</label>
                            <input required type="text" class="form-control border-primary" id="sortOrder" name="sortOrder" placeholder="Sort Order" #sortOrder="ngModel" [(ngModel)]="locationModel.sortOrder"/>
                          </div>
                        <div class="col-md-6 mt-5">
                          <mat-checkbox [(ngModel)]="locationModel.isAvailable" [ngModelOptions]="{standalone: true}" > Available</mat-checkbox>
                        </div>
                      </div>
                    <div class="row">
                      <div class="form-group col-md-6 mb-3">
                        <label for="nameen">Name in English</label>
                        <input required type="text" class="form-control border-primary" id="nameen" name="nameen" placeholder="Name in English" #nameen="ngModel" [(ngModel)]="locationModel.name.en"/>
                        <small *ngIf="f.submitted && nameen.errors" class="form-text text-muted text-danger">Name Required</small>
                      </div>
                      <div class="form-group col-md-6 mb-2">
                        <label for="namefr">Name in France</label>
                        <input required type="text" class="form-control border-primary" id="namefr" name="namefr" placeholder="Name in France" #namefr="ngModel" [(ngModel)]="locationModel.name.fr"/>
                        <small *ngIf="f.submitted && namefr.errors" class="form-text text-muted text-danger">Name Required</small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-md-6 mb-2">
                        <label for="namegr">Name in Germany</label>
                        <input required type="text" class="form-control border-primary" id="namegr" name="namegr" placeholder="Name in Germany" #namegr="ngModel" [(ngModel)]="locationModel.name.de"/>
                        <small *ngIf="f.submitted && namegr.errors" class="form-text text-muted text-danger">Name Required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <label for="bottlesize">Location Logo</label><br>
                        <app-image-upload [imgSize]="'md'" [imageUrl]="thumbnailurlLogo" [uploadUrl]="imgUploadUrl" [name]="'Producer Logo'" [headers]="appservice.getImgUploadHeaders()"  (changeImage)="onFileUploadEventLogo($event)"></app-image-upload>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-actions pull-right">
                <button type="button" class="btn btn-raised btn-warning mr-1" (click)="onClearValue()">
                <i class="ft-x"></i> Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>