.card .card-header{
    padding: 1rem;
}

.card-block p.category.font-small-4{
    margin-bottom: 0;
}

.card .card-block{
    padding: 0.5rem 0.5rem 0.5rem;
}

.card{
    cursor: pointer;
}

.overWriteTitle{
    font-weight: 100!important;
    font-size: 1rem!important;
}
.card{
    background: transparent;
    box-shadow: none;
    border-radius: none;
}