
/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select.custom .ng-select-container{
  
   border: 1px solid #ccc!important;
   width:30%!important;
   border-radius: 18px!important;
   background-color: #fff;


}

.card:hover [data-header-animation=true] {
    -webkit-transform: translate3d(0, -24px, 0) !important;
    transform: translate3d(0, -24px, 0) !important;
}
.card:hover [data-header-animation=true1] {
    -webkit-transform: translate3d(0, -50px, 0) !important;
    transform: translate3d(0, -50px, 0) !important;
}

/* TOASTR BUGFIX */
#toast-container > div {
    opacity: 1;
  }
  .toast {
    font-size: initial !important;
    border: initial !important;
    backdrop-filter: blur(0) !important;
  }
  .toast-success {
    background-color: #51A351 !important;
  }
  .toast-error {
    background-color: #BD362F !important;
  }
  .toast-info {
    background-color: #2F96B4 !important;
  }
  .toast-warning {
    background-color: #F89406 !important;
  }
  