<app-custom-datatable [headers]="headers"
                      [items]="customers"
                      [actions]="actions"
                      [showSno]="true"
                      [showActions]="false"
                      [showSearch]="false"
                      [showChooseLimit]="true"
                      [params]="defaultParams"
                      [isRowHeightClass] = "'customerRow'"
                      [totalRecords]="totalRecords"
                      (reloadEvent)="onReloadEvent($event)"
                      (operationEvent)="onOperation($event)">
</app-custom-datatable>