// .eventImage{
//   width: 100px;
//   height: 100px;
//   position: relative;
//   margin: 0 auto;
// }
// .eventRow{
//   background: white;
//   margin: 10px;
//   border-radius: 5px;
//   padding: 10px 10px 0 10px;
//   // position: -webkit-sticky; /* Safari */
//   // position: sticky;
//   // top:0;
// }
// .eventRow .img{
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//   margin: auto;
//   opacity: 1;
//   max-width: 100%;
//   max-height: 100%;
// }
// .content_row{
//     padding: 0 20px;
// }

// .icon_row{
//     padding: 0;
// }
// .org_name{
//     color:#999;
// }

// .nav-display-text {
//   font-size: 0.7em;
// }

// .nav-link-item{
//     display: inline-block;
//     vertical-align: top;
//     text-align: center;
//     width: 58px;
// }
// .nav-link-item i{
//     font-size: 18px;
// }
// .settings_icon{
//     padding-left: 5px;
// }

// .mini_site{
//     font-size: 14px;
// }

// .selectedBorder{
//     border: 2px solid #9C27BE;
//     border-radius: 10px;
// }

// .reomovePadding {
//   padding: 0;
// }


// /* common */
// .ribbon {
//     width: 150px;
//     height: 150px;
//     overflow: hidden;
//     position: absolute;
//   }
//   .ribbon::before,
//   .ribbon::after {
//     position: absolute;
//     z-index: -1;
//     content: '';
//     display: block;
//     // border: 5px solid #2980b9;
//   }
//   .ribbon span {
//     position: absolute;
//     display: block;
//     width: 225px;
//     padding: 15px 0;
//     background-color: #fff;
//     box-shadow: 0 5px 10px rgba(0,0,0,.1);
//     color: rgb(0, 50, 250);;
//     font: 700 16px/1 'Lato', sans-serif;
//     text-shadow: 0 1px 1px rgba(0,0,0,.2);
//     text-transform: uppercase;
//     text-align: center;
//   }
//   /* top left*/
//   .ribbon-top-left {
//     top: -10px;
//     left: -10px;
//   }
//   .ribbon-top-left::before,
//   .ribbon-top-left::after {
//     border-top-color: transparent;
//     border-left-color: transparent;
//   }
//   .ribbon-top-left::before {
//     top: 0;
//     right: 0;
//   }
//   .ribbon-top-left::after {
//     bottom: 0;
//     left: 0;
//   }
//   .ribbon-top-left span {
//     // right: -25px;
//     // top: 30px;
//     right: -13px;
//     top: 18px;
//     transform: rotate(-45deg);
//   }

.eventImage{
  width: 152px;
  height: 152px;
  position: relative;
  margin: 0 auto;
}
.eventRow{
  background: white;
  margin: 10px 10px;
  border-radius: 5px;
  padding: 10px;
}

.eventRow .img{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}
.content_row{
  padding: 0 20px;
}

.icon_row{
  padding: 20px 0;
}
.org_name{
  color:#999;
}

.nav-display-text {
    font-size: 0.7em;
}
.nav-link-item{
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 70px;
}
.nav-link-item i{
  font-size: 34px;
}
.settings_icon{
  padding-left: 5px;
}

.mini_site{
  font-size: 14px;
}

.selectedBorder{
      border: 2px solid #9C27BE;
      border-radius: 10px;
  }


/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: rgb(0, 50, 250);;
  font: 700 16px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}
/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  // right: -25px;
  // top: 30px;
  right: -13px;
  top: 18px;
  transform: rotate(-45deg);
}